<md-content>
    <div layout="column" layout-align="center center">
        <md-content layout-padding  style="background-color: white; margin: 50px 0px 50px 0px; width: 400px;" class="md-whiteframe-8dp"
         layout="column" layout-align="center center">
            <h3>SIGN IN INTO YOUR  ACCOUNT</h3>
                <form name="signinForm">

                    <div style="width: 364px;" layout="column">

                        <md-input-container>
                            <label>Email</label>
                            <input required type="email" name="email" ng-model="$ctrl.user.email"
                                minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

                            <div ng-messages="signinForm.email.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Your email must be between 3 and 254 characters long and look like an e-mail address.
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container >
                            <label>Password</label>
                            <input required autocomplete="nope" type="password" name="password" ng-model="$ctrl.user.password">
                            <div ng-messages="signinForm.password.$error">
                                <div ng-message="required">Password is required.</div>
                            </div>
                        </md-input-container>

                        <!--md-button type="submit" ng-click="$ctrl.signin()">Sign In</md-button-->
                        <md-button type="submit" ng-click="$ctrl.signin()" ng-disabled="signinForm.$invalid">Sign in</md-button>

                        <md-divider></md-divider>
                        
                        <div layout="column" layout-align="center center">
                            <div class="md-padding">or sign in with one of these services</div>
                            <section layout="row" layout-align="center center">
                                <md-button flex="50" href="/facebook">Facebook</md-button>
                                <md-button flex="50" href="/google">Google</md-button>
                            </section>
                        </div>

                    </div>
                </form>
        </md-content>
    </div>
</md-content>