<!--md-content class="view-column">
    <h2>{{$ctrl.subcategories.name}}</h2>
    <ul>
        <li ng-repeat="subCategory in $ctrl.subcategories.subCategories">{{subCategory.name}}</li>
    </ul>
</md-content-->
<style>
.category-image {
    background-position: center;
    background-image: url('front/assets/img/category-background.jpg');
    background-repeat: none;
    width: 100%;
    height: 180px;
  }
</style>
<div style="height: 100%;" layout="column" ng-cloak>
    <div class="category-image" style="height: 180px; background-color: lightslategrey;">

    </div>
    <md-toolbar class="md-hue-1">
        <div class="md-toolbar-tools">
            <md-button>
                Coolest
            </md-button>
            <md-button>
                Best
            </md-button>
            <md-button>
                Newst
            </md-button>
            <md-button>
                Newst
            </md-button>
        </div>
    </md-toolbar>
    <section style="height: 100%; width: 100%;" layout="row">

        <div flex layout="row" layout-align="center start" layout-padding>
        <div flex="100" style="position: relative; height: 100%; width: 100%;">
            <div>
                <md-grid-list class="havy-margin"
                        md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3"
                        md-row-height="1.3:1"
                        md-gutter-gt-sm="36px" md-gutter="32px" >

                    <md-grid-tile  ng-click="$ctrl.goToPlaylist(playlist._id)" style="cursor:pointer;" 
                                ng-repeat="playlist in $ctrl.playlists">
                            <img ng-if="!playlist.thumbnail" src="front/assets/img/comp.jpg" class="md-card-image" alt="Washed Out" layout-fill>
                            <img ng-if="playlist.thumbnail" ng-src="{{playlist.thumbnail}}" layout-fill>
                        <md-grid-tile-footer>
                            <h3>{{playlist.name}}</h3>
                        </md-grid-tile-footer>
                    </md-grid-tile>

                </md-grid-list>
            </div>
        </div>
        </div>

        <md-sidenav md-component-id="right" 
            md-is-locked-open="$mdMedia('min-width: 333px')" 
            class="md-sidenav-right"
            md-whiteframe="4"
            style="max-width: 300px;">
            <md-content layout="column">
                <md-button ng-repeat="subCategory in $ctrl.category.subCategories" class="md-raised">{{subCategory.name}}</md-button>
            </md-content>
        </md-sidenav>

    </section>

</div>