<!--md-content class="view-column">
    <h2>{{$ctrl.subcategories.name}}</h2>
    <ul>
        <li ng-repeat="subCategory in $ctrl.subcategories.subCategories">{{subCategory.name}}</li>
    </ul>
</md-content-->
<style>
.category-image {
    background-position: center;
    background-image: url('front/assets/img/category-background.jpg');
    background-repeat: none;
    width: 100%;
    height: 180px;
  }
</style>
<div  style="height: 100%;" >
    <div layout="column" ng-cloak>
        <div>
            <div style="height: 180px; background-color: #B2DFDB;" >
                <div class="category-image view-column" style="height: 180px;">

                </div>
            </div>
            <md-toolbar class="md-hue-1">
                <div class="md-toolbar-tools view-column">
                    <md-button>
                        Coolest
                    </md-button>
                    <md-button>
                        Best
                    </md-button>
                    <md-button>
                        Newst
                    </md-button>
                    <md-button>
                        Newst
                    </md-button>
                </div>
            </md-toolbar>
        </div>
    </div>
    <div class="view-column" layout="row" ng-cloak>
        <div flex layout="row" layout-align="center start" layout-padding>
                <div flex="100" ui-view></div>
        </div>
        <md-sidenav  flex md-component-id="right" 
            md-is-locked-open="$mdMedia('min-width: 333px')" 
            class="md-sidenav-right"
            md-whiteframe="4"
            style="max-width: 300px;">
            <md-content layout="column" flex role="navigation">
                <ul class="docs-menu md-hue-2" style="margin-top: 15px;">
                    <li>
                        <md-button ng-click="$ctrl.goToSubCategory()" ng-class="{'active' : !$ctrl.subCategory}">
                            <span>All</span>
                        </md-button></li>
                    <li ng-repeat="subCategory in $ctrl.category.subCategories" class="">
                        <md-button ng-click="$ctrl.goToSubCategory(subCategory)" ng-class="{'active' : $ctrl.subCategory == subCategory._id}">
                            <span>{{subCategory.name}}</span>
                        </md-button>
                    </li>
                </ul>
            </md-content>
        </md-sidenav>
    </div>

</div>