<style>
.master-table tr td:first-child{
    border-collapse: collapse;
    border-left: 1px solid red;
}

.category-table tr td:first-child{
    border-collapse: collapse;
    border-left: 1px solid green;
}

.sub-category-table tr td:first-child{
    border-collapse: collapse;
    border-left: 1px solid blue;
}

.master-table md-input-container {
    margin: 0px;
}

.master-list-table {
    border-collapse: collapse;
}
.master-list-table tr td {
    border: 1px solid orange;
}

.category-list-table tr td {
    border: none;
}

.sub-category-list-table tr td {
    border: none;
}


</style>
<h2>Categories Management</h2>
<md-button class="google-button" ng-click="$ctrl.addMasterCategory()" flex>
    <div layout="row" layout-align="center center">
        <div><img src="front/assets/svg/category.svg"></div>
        <div>New Category</div>
    </div>
</md-button>
<div ng-if="$ctrl.isAddingMode">
    <table class="master-table">
        <tr>
            <td>
                <md-input-container>
                    <label>Master Category</label>
                    <input autocomplete="off" ng-model="$ctrl.newCategory.masterName">
                </md-input-container>
            </td>
            <td>
                <table class="category-table" ng-repeat="category in $ctrl.newCategory.categories">
                    <tr>
                        <td>
                            <md-input-container>
                                <label>Category</label>
                                <input autocomplete="off" ng-model="category.name" ng-blur="$ctrl.appendNextCategory(category)">
                            </md-input-container>
                        </td>
                        <td>
                            <table class="sub-category-table" ng-repeat="subCategory in category.subCategories">
                                <tr>
                                    <td>
                                        <md-input-container>
                                            <label>Sub Category</label>
                                            <input autocomplete="off" ng-blur="$ctrl.appendNextSubCategory(category, subCategory)" ng-model="subCategory.name">
                                        </md-input-container>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    
                </table>
            </tr>
        </tr>
    </table>

    <div layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ng-click="$ctrl.confirmCreatingCategory($ctrl.newCategory)">Done</md-button>
    </div>
</div>

<div ng-if="$ctrl.categories.length > 0">


    <!--table class="master-list-table" ng-repeat="category in $ctrl.categories">
        <tr>
            <td>
                {{category.masterName}}
            </td>
            <td>
                <table class="category-list-table" ng-repeat="category in category.categories">
                    <tr ng-if="category.name">
                        <td>
                            {{category.name}}
                        </td>
                        <td>
                            <table class="sub-category-list-table" ng-repeat="subCategory in category.subCategories">
                                <tr ng-if="subCategory.name">
                                    <td>
                                        {{subCategory.name}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </tr>
        </tr>
    </table-->
<style>
    .categories-list .row-top-border{
        border-top: 1px solid green;
    }

    .categories-list .row-top-border_1 {
        border-top: 1px solid purple;
    }
</style>


    <div style="border: 1px solid red;" class="categories-list">
        <div layout="row" ng-repeat="category in $ctrl.categories" layout-align="center center" ng-class="{'row-top-border': $index != 0}">
            <div flex layout-padding>{{category.masterName}}</div>

            <div flex layout="column" style="border-left: 1px solid blue;">
                <div layout="row" ng-class="{'row-top-border_1': $index != 0}" ng-repeat="category in category.categories" ng-if="category.name" layout-align="center center">
                    <div layout-padding flex>
                        {{category.name}}
                    </div>
                    <div style="border-left: 1px solid saddlebrown;" flex layout="column">
                        <div layout-padding ng-repeat="subCategory in category.subCategories" ng-if="subCategory.name">
                            {{subCategory.name}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>