<style>
.master-table {
    border-collapse: collapse;
    border: 2px solid red;
}

.category-table {
    border-collapse: collapse;
    border: 2px solid green;
}

.sub-category-table {
    border-collapse: collapse;
    border: 2px solid blue;
}


</style>
<h2>Categories Management</h2>
<md-button class="google-button" ng-click="$ctrl.addMasterCategory()" flex>
    <div layout="row" layout-align="center center">
        <div><img src="front/assets/svg/category.svg"></div>
        <div>New Category</div>
    </div>
</md-button>
<div ng-if="$ctrl.isAddingMode">
    <table class="master-table">
        <tr>
            <td>
                <md-input-container>
                    <label>Master Category</label>
                    <input ng-model="$ctrl.newCategory.masterName">
                </md-input-container>
            </td>
            <td>
                <table class="category-table" ng-repeat="category in $ctrl.newCategory.categories">
                    <tr>
                        <td>
                            <md-input-container >
                                <label>Category</label>
                                <input ng-model="category.name" ng-blur="$ctrl.appendNextCategory(category)">
                            </md-input-container>
                        </td>
                        <td>
                            <table class="sub-category-table" ng-repeat="subCategory in category.subCategories">
                                <tr>
                                    <td>
                                        <md-input-container>
                                            <label>Sub Category</label>
                                            <input ng-blur="$ctrl.appendNextSubCategory(category, subCategory)" ng-model="subCategory.name">
                                        </md-input-container>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    
                </table>
            </tr>
        </tr>
    </table>

    <div layout="row" layout-align="end center">
        <md-button class="md-raised md-primary" ng-click="$ctrl.confirmCreatingCategory($ctrl.newCategory)">Done</md-button>
    </div>
</div>

<div ng-if="$ctrl.categories.length > 0">
    <table class="master-table" ng-repeat="category in $ctrl.categories">
        <tr>
            <td>
                {{category.masterName}}
            </td>
            <td>
                <table class="category-table" ng-repeat="category in category.categories">
                    <tr>
                        <td>
                            {{category.name}}
                        </td>
                        <td>
                            <table class="sub-category-table" ng-repeat="subCategory in category.subCategories">
                                <tr>
                                    <td>
                                        {{subCategory.name}}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    
                </table>
            </tr>
        </tr>
    </table>