<div flex layout="column">
    <md-card ng-repeat="playlist in $ctrl.playlists"
             ng-click="$ctrl.goToPlaylist(playlist._id)" style="cursor:pointer;">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{playlist.name}}</span>
                <div class="md-subhead">
                    <div layout="row">
                        <div flex>By: ___________</div>
                        <div flex>Level: ___________</div>
                        <div flex>Added: ___________</div>
                    </div>
                </div>
            </md-card-title-text>
            <!--md-card-title-media>
            <div class="md-media-lg card-media"></div>
            </md-card-title-media-->
        </md-card-title>
    </md-card>
</div>
