<!--md-content>
<h3>MY PLAYLISTS</h3>


    <ul>
        <li ng-repeat="playlist in $ctrl.playlists">
            <div layout="row"><h3>{{playlist.name}}</h3>
            <md-button class="md-raised md-warn" ng-click="$ctrl.deletePlaylist(playlist._id);">Delete</md-button>
            </div>
            <youtube-video video-url=" playlist.links[0]"></youtube-video>
        </li>
    </ul>
</md-content-->

<div class="view-column" ng-cloak>
  <md-grid-list
        md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3"
        md-row-height="1.3:1"
        md-gutter-gt-sm="36px" md-gutter="32px" >

    <md-grid-tile  ng-click="$ctrl.goToPlaylist(playlist._id)" style="cursor:pointer;" 
                   ng-repeat="playlist in $ctrl.playlists">
        <md-grid-tile-header layout-align="end center">
            <md-button class="md-raised md-warn" ng-click="$ctrl.deletePlaylist(playlist._id);">Delete</md-button>
        </md-grid-tile-header>
            <img ng-if="!playlist.thumbnail" src="front/assets/img/comp.jpg" class="md-card-image" alt="Washed Out" layout-fill>
            <img ng-if="playlist.thumbnail" ng-src="data:image/JPEG;base64,{{playlist.thumbnail}}" layout-fill>
        <md-grid-tile-footer>
            <h3>{{playlist.name}}</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list>
</div>

<!--div ayout="row">
    <div ng-repeat="playlist in $ctrl.playlists"
         flex-xs flex-gt-xs="33" flex-gt-md="33" layout="column" layout-align="center center">
        <div style="max-width: 360px;">
            <md-card ng-click="$ctrl.goToPlaylist(playlist._id)" style="cursor:pointer;">
                <img ng-if="!playlist.thumbnail" src="front/assets/img/comp.jpg" class="md-card-image" alt="Washed Out">
                <img ng-if="playlist.thumbnail" ng-src="data:image/JPEG;base64,{{playlist.thumbnail}}">
                <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{playlist.name}}</span>
                    <md-button class="md-raised md-warn" ng-click="$ctrl.deletePlaylist(playlist._id);">Delete</md-button>
                </md-card-title-text>
                </md-card-title>
            </md-card>
        </div>
    </div>
</div-->