<md-content class="md-padding">
<h3>MY PLAYLISTS</h3>

    <div style="max-width: 350px;">
    
        <md-input-container class="md-block">
            <label>Playlist Name</label>
            <input ng-model="$ctrl.newPlaylist.name">
        </md-input-container>
             
        <md-input-container class="md-block">
            <label>Paste links separated by coma</label>
            <textarea ng-model="$ctrl.newPlaylist.links"></textarea>
        </md-input-container>

        <md-button class="md-raised md-primary" ng-click="$ctrl.addPlaylist($ctrl.newPlaylist);">Add playlist</md-button>
    </div>

    <ul>
        <li ng-repeat="playlist in $ctrl.playlists">
            {{playlist.name}}
            <ol>
                <li ng-repeat="link in playlist.links">
                    {{link}}
                </li>
            </ol>
        </li>
    </ul>




</md-content>