<div class="view-column" layout="row">
    <div ng-repeat="playlist in $ctrl.featuredPlaylists"
         flex-xs flex-gt-xs="33" flex-gt-md="33" layout="column" layout-align="center center">
        <div style="max-width: 360px;">
            <md-card ng-click="$ctrl.goToPlaylist(playlist._id)" style="cursor:pointer;">
                <img ng-if="!playlist.thumbnail" src="front/assets/img/comp.jpg" class="md-card-image" alt="Washed Out">
                <img ng-if="playlist.thumbnail" ng-src="data:image/JPEG;base64,{{playlist.thumbnail}}">
                <md-card-title>
                <md-card-title-text>
                    <span class="md-headline">{{playlist.name}}</span>
                </md-card-title-text>
                </md-card-title>
                <!--md-card-content>
                <p>
                    The titles of Washed Out's breakthrough song ...
                </p>
                </md-card-content-->
            </md-card>
        </div>
    </div>
</div>