<style>
  .slider {
    background-position: center;
    background-image: url('front/assets/img/learning.jpg');
    background-repeat: none;
    width: 100%;
    height: 496px;
  }
  .quotations {
    padding: 10px;
    min-height: 180px;
    margin: 30px 0px;
    border-top:    1px solid  #CFD8DC;
    /*border-bottom: 1px solid #CFD8DC;*/
    color: #607D8B;
  }

  .quotation-text {
    font-size: 2rem;
    line-height: 2.30rem;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-style: italic;
    
  }
  .moving-box {
    transition:4s linear all;
    /*display: none;*/
  }
  .moving-box.isInView-add {
    background:white;
  }
  .moving-box.isInView {
    background:yellow;
    /*display: block;*/
  }
  .moving-box.isInView-remove {
    background:black;
  }
  .outer-moving-box{
    /*overflow: hidden;*/
  }
  .havy-padding{
    padding: 15px;
  }
  .havy-margin{
    margin: 15px;
  }
  
  .gradient-secondary { 
    padding: 10px;
    min-height: 300px;
    margin: 30px 0px;
    /*border-top:    1px solid  #CFD8DC;
    border-bottom: 1px solid #CFD8DC;*/
    background-image: -webkit-linear-gradient(top left, #02b3e4, #02ccba);
    background-image: -o-linear-gradient(top left, #02b3e4, #02ccba);
    background-image: linear-gradient(to bottom right, #02b3e4, #02ccba);
  }
</style>
<div class="view-column" ng-cloak>
  <div layout="column" layout-gt-sm="row" style="" class="havy-padding">
    <!--div flex flex-gt-sm="60" class="">
      <jk-carousel
        data="$ctrl.slides"
        item-template-url="'front/item-template.html'"
        max-width="1000" 
        max-height="680"
        auto-slide="true"
        auto-slide-time="5000" >
      </jk-carousel>
    </div-->
    <div class="slider">

    </div>
    <!--span flex hide show-gt-sm></span-->
    <div flex flex-gt-sm="30" layout="row" layout-xs="column" layout-gt-sm="column">
      
      <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card</span>
            <span class="md-subhead">Small</span>
          </md-card-title-text>
          <!--md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media-->
        </md-card-title>
      </md-card>
      <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card</span>
            <span class="md-subhead">Small</span>
          </md-card-title-text>
          <!--md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media-->
        </md-card-title>
      </md-card>

      <md-card flex hide show-gt-sm>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card</span>
            <span class="md-subhead">Small</span>
          </md-card-title-text>
          <!--md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media-->
        </md-card-title>
      </md-card>
      <md-card flex>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Card</span>
            <span class="md-subhead">Small</span>
          </md-card-title-text>
          <!--md-card-title-media>
            <div class="md-media-sm card-media"></div>
          </md-card-title-media-->
        </md-card-title>
      </md-card>

    </div>

  </div>

  <div layout="row" layout-align="center center" class="quotations havy-margin">
      <div flex="70">
        <div class="quotation-text">"Always code as if the guy who ends up maintaining your code will be a violent psychopath who knows where you live."</div>
        <div layout="row"><span flex></span><div>- Rick Osborne</div></div>
      </div>
  </div>

  <!--md-grid-list class="havy-margin"
        md-cols-xs="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="3"
        md-row-height="1.3:1"
        md-gutter-gt-sm="36px" md-gutter="32px" >

    <md-grid-tile  ng-click="$ctrl.goToPlaylist(playlist._id)" style="cursor:pointer;" 
                   ng-repeat="playlist in $ctrl.featuredPlaylists">
            <img ng-if="!playlist.thumbnail" src="front/assets/img/comp.jpg" class="md-card-image" alt="Washed Out" layout-fill>
            <img ng-if="playlist.thumbnail" ng-src="data:image/JPEG;base64,{{playlist.thumbnail}}" layout-fill>
        <md-grid-tile-footer>
            <h3>{{playlist.name}}</h3>
        </md-grid-tile-footer>
    </md-grid-tile>

  </md-grid-list-->

  <ed-featured-playlists></ed-featured-playlists>

  <!--div  layout="row" layout-align="center center" class="quotations gradient-secondary">
    <div flex="70">
      <div class="quotation-text">"People think that computer science is the art of geniuses but the actual reality is the opposite, just many people doing things that build on each other, like a wall of mini stones."</div>
      <div layout="row"><span flex></span><div>- Donald Knuth</div></div>
    </div>
  </div-->
</div>

<div  layout="row" layout-align="center center" class="gradient-secondary">
  <div layout="row" layout-align="center center" class="view-column" style="width: 100%;">
    <md-whiteframe class="md-whiteframe-15dp havy-padding" flex="80" layout-gt-sm="row" layout= "column" layout-align="center center" style="background-color: white; min-height: 240px;" >
      <span hide show-gt-sm flex></span>
      <div flex-gt-sm="60">
        <h1>Imagine your future!</h1>
        <p style="font-size: 1.6em">
          What do you want to learn today? What's your dream job? Discover the program that's right for you!
        </p>
      </div>
      
      <div flex-gt-sm="30" layout= "row" layout-align="center center">
        <md-button class="md-raised md-primary">Get Started</md-button>
      </div>
    </md-whiteframe>
  </div>
</div>
  
<div class="view-column" ng-cloak>
  <md-content class="havy-padding" layout="column" layout-gt-sm="row" layout-align="center center" style="overflow: hidden;">
    <div flex-order-gt-sm="2" class="outer-moving-box" flex flex-gt-sm="50">
      <div class="moving-box md-padding">

          <h2>Maximize Your Impact</h2>
          <p>
            Create an amazing future that you love in any field from transportation to commerce and health care to government. 
            Expand your opportunities. Exceed your expectations. Excel!!
          </p>

      </div>
    </div>
    <div  flex-order-gt-sm="1" class="outer-moving-box" flex flex-gt-sm="50" in-view="$ctrl.asighnVisibility($inview, 'isVisible_1')">
      <md-card class="moving-box" ng-class="{ 'animated slideInUp': $ctrl.isVisible_1 }">
        <img src="front/assets/img/2.jpeg" class="md-card-image" alt="Washed Out">
      </md-card>
    </div>
    
  </md-content>

  <md-content class="havy-padding" layout="column" layout-gt-sm="row" layout-align="center center" style="overflow: hidden;">
    <div  class="outer-moving-box" flex flex-gt-sm="50">
      <div class="moving-box md-padding">

          <h2>Maximize Your Impact</h2>
          <p>
            Create an amazing future that you love in any field from transportation to commerce and health care to government. 
            Expand your opportunities. Exceed your expectations. Excel!!
          </p>

      </div>
    </div>
    <div  class="outer-moving-box" flex flex-gt-sm="50" in-view="$ctrl.asighnVisibility($inview, 'isVisible_2')">
      <md-card class="moving-box" ng-class="{ 'animated slideInRight': $ctrl.isVisible_2 }">
        <img src="front/assets/img/3.jpeg" class="md-card-image" alt="Washed Out">
      </md-card>
    </div>
    
  </md-content>

</div>