<div layout="column" ng-cloak>

  <section style="" layout="row" flex>
    <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-xs')"
        md-whiteframe="4">

      <md-content layout="column">
        <md-button ng-repeat="video in $ctrl.playlist.links" class="md-raised" ng-click="$ctrl.setVideoUrl(video)">Video {{$index+1}}</md-button>
      </md-content>

    </md-sidenav>

    <md-content style="height: 100%;" layout="row" layout-align="center center" layout-margin flex>

        <youtube-video video-url="$ctrl.currentVideo"></youtube-video>

    </md-content>

  </section>

</div>