<div style="">
    <md-menu-bar>
        <md-menu>
            <div class="md-toolbar-tools" layout="row" ng-click="$ctrl.openMenu($mdOpenMenu, $event)" >
                <div>
                    <h1>{{$ctrl.user.firstName}} {{$ctrl.user.lastName}}</h1>
                </div>
                <md-button class="md-icon-button">
                    <md-icon style="" md-svg-src="front/assets/svg/user.svg"></md-icon>
                </md-button>
            </div>
            <md-menu-content width="4">
                <md-menu-item>
                    <md-button href="/profile">
                        My profile
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button href="/playlists">
                        Playlists
                    </md-button>
                </md-menu-item>
                <md-menu-item ng-if="$ctrl.user.isAdmin()">
                    <md-button href="/admin">
                        Admin
                    </md-button>
                </md-menu-item>
                <md-menu-divider></md-menu-divider>
                <md-menu-item>
                    <md-button ng-if="$ctrl.isAuthenticated()" ng-click="$ctrl.logout()">
                        Log out
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </md-menu-bar>
</div>