<style>





</style>

<div style="height: 100%;" class="view-column" layout="column" ng-cloak>
  <!--ed-toolbar-main></ed-toolbar-main-->
  <section style="height: 100%; width: 100%;" layout="row">

    <md-sidenav style="height: 100%;" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')">
        <md-content flex role="navigation">
            <ul class="docs-menu md-hue-2" style="margin-top: 15px;">
                <li ng-repeat="video in $ctrl.playlist.videos" class="">
                    <md-button ng-click="$ctrl.setVideoUrl(video)" ng-class="{'active' : $ctrl.currentVideo.id == video.id}">
                        <span>{{video.title}}</span>
                    </md-button>
                </li>
            </ul>
        </md-content>
    </md-sidenav>

    <div flex style="height: 100%;" layout-padding>
      <div>
        <div class="embed-responsive embed-responsive-16by9">
          <youtube-video class="embed-responsive-item" video-url="$ctrl.currentVideo.id"></youtube-video>
        </div>
        <h2>{{$ctrl.currentVideo.title}}</h2>
        <h3>Published {{$ctrl.currentVideo.publishedAt}} by {{$ctrl.currentVideo.channelTitle}}</h3>
        <div ng-if="$ctrl.currentVideo.description">
          {{$ctrl.currentVideo.description}}
        </div>
      </div>
    </div>

  </section>

</div>