<style>
.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-item {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}



/************
 * DOCS MENU
 ************/
/*.site-sidenav {
  background: #106CC8;
}
.site-sidenav md-content {
  background: transparent;
}*/
.site-sidenav,
.site-sidenav.md-locked-open-add-active,
.site-sidenav.md-locked-open {
  width:     272px;
  min-width: 272px;
  max-width: 272px;
}
.site-sidenav > * {
  min-width: 218px;
}

.docs-menu,
.docs-menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}
.docs-menu li {
  margin: 0;
}
.docs-menu > li:nth-child(1) {
  border-top: none;
}
.md-whiteframe-glow-z1 {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 0px 2px 2px rgba(0, 0, 0, 0.098),
              0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
.docs-menu > li {
  border-bottom: 1px solid #EEEEEE !important;
}

.docs-menu .md-button {
  border-radius: 0;
  color: black;
  cursor: pointer;
  display: block;
  align-items: inherit;
  line-height: 45px;
  margin: 0;
  height: 45px;
  overflow: hidden;
  padding: 0px 16px;
  text-align: left;
  text-decoration: none;
  white-space: normal;
  width: 100%;
}

.md-button-toggle > div {
  height: 45px;
}

.docs-menu .md-button:hover,
.docs-menu .md-button:focus {
  background: #80CBC4 !important;

}
.docs-menu .md-button md-icon {
  color: black;
}

.docs-menu md-select {

 /* Override md-select margins.  With margins the menu will look incorrect and causes mobile list
    to not be scrollable.
  */
  margin: 0;
  width: 100%;
}

.docs-menu md-select md-select-label {
  justify-content: flex-end;
  padding-top: 10px;
}

.docs-menu md-select md-select-label span {
  margin-right: auto;
  padding-left: 13px;
}

.docs-menu md-select .md-select-icon {
  margin-right: 28px;
}

.docs-menu button.md-button::-moz-focus-inner {
  padding: 0;
}
.docs-menu .md-button.active {
  color: white;
  background: #00796B;
}
.docs-menu .md-button,
md-sidenav > md-content {
  background: #B2DFDB;
}
md-content {
  background: #CFD8DC;
}
.menu-heading {
  display: block;
  line-height: 32px;
  margin: 0;
  padding: 8px 16px 0;
  text-align: left;
  width: 100%;
  color: rgba(255, 255, 255, 0.54)
}
.docs-menu li.parentActive,
.docs-menu li.parentActive .menu-toggle-list {
  /*background-color: #2C80D2 !important;*/
}
.menu-toggle-list {
  overflow: hidden;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  -webkit-transition-property: height;
  -moz-transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  -moz-transition-property: height;
  transition: 0.5s cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: height;
}
.docs-menu .menu-toggle-list a.md-button {
  display: block;
  padding: 0 16px 0 32px;
  text-transform: none;
  text-rendering: optimizeLegibility;
  font-weight: 500;
}

.parent-list-item:last-child {
  margin-bottom: 20px;
  border-bottom: none;
}
.md-button-toggle .md-toggle-icon {
  display: block;
  margin-left: auto;
  speak: none;
  vertical-align: middle;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.md-toggle-icon.ng-hide-animate {
  display: none;
}



.md-button-toggle .md-toggle-icon.toggled {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.md-pin-toggle {
  margin-left: 0px;
  margin-right: 10px;
  vertical-align: middle;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
}

.md-pin-toggle:focus{
  outline-style: none;
}

.md-pin-toggle.toggled {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
}

.left-nav-icon {
  margin-left: 5px;
  margin-right: 18px;
}

/* End Docs Menu */




</style>

<div style="height: 100%;" layout="column" ng-cloak>
  <!--ed-toolbar-main></ed-toolbar-main-->
  <section style="height: 100%; width: 100%;" layout="row">
    
    <!--md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="$mdMedia('gt-xs')"
        md-whiteframe="4"
        style="max-width: 300px;"
        flex>

      <md-content layout="column">
        <md-button ng-repeat="video in $ctrl.playlist.links" class="md-raised" ng-click="$ctrl.setVideoUrl(video.id)">{{$index+1}} {{video.title}}</md-button>
      </md-content>

    </md-sidenav-->

    <md-sidenav layout="column" class="md-raised md-primary"class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-xs')">

        <md-content  style="" flex role="navigation">
            <ul class="docs-menu md-hue-2" style="margin-top: 15px;">
                <li ng-repeat="video in $ctrl.playlist.links" class="">                    
                    <md-button ng-click="$ctrl.setVideoUrl(video)" ng-class="{'active' : $ctrl.currentVideo.id == video.id}">

                        <span>{{video.title}}</span>

                    </md-button>
                </li>
            </ul>
        </md-content>

    </md-sidenav>

    <div flex layout="column" layout-align="center start" layout-padding>
      <div flex="100" style="position: relative; width: 100%;">
        <div class="embed-responsive embed-responsive-16by9">
          <youtube-video class="embed-responsive-item" video-url="$ctrl.currentVideo.id"></youtube-video>
        </div>
        <h2>{{$ctrl.currentVideo.title}}</h2>
        <h3>Published {{$ctrl.currentVideo.publishedAt}} by {{$ctrl.currentVideo.channelTitle}}</h3>
        <div ng-if="$ctrl.currentVideo.description">
          {{$ctrl.currentVideo.description}}
        </div>
      </div>
      
    </div>

  </section>

</div>