<md-content class="view-column">
    <div layout="column" layout-align="center center">
        <md-content layout-padding  style="background-color: white; margin: 50px 0px 50px 0px; width: 400px;" class="md-whiteframe-8dp"
         layout="column" layout-align="center center">
            <h3>CREATE AN ACCOUNT</h3>
                <form name="signupForm">

                    <div style="width: 364px;" layout="column">
                        <md-input-container>
                            <label>First Name</label>
                            <input required name="firstName" ng-model="$ctrl.user.firstName" maxlength="50">
                            <div ng-messages="signupForm.firstName.$error">
                                <div ng-message="required">First Name is required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container >
                            <label>Last Name</label>
                            <input required name="lastName" ng-model="$ctrl.user.lastName" maxlength="50">
                            <div ng-messages="signupForm.lastName.$error">
                                <div ng-message="required">Last Name is required.</div>
                            </div>
                        </md-input-container>

                        <md-input-container>
                            <label>Email</label>
                            <input required type="email" name="email" ng-model="$ctrl.user.email"
                                minlength="3" maxlength="254" ng-pattern="/^.+@.+\..+$/" />

                            <div ng-messages="signupForm.email.$error" role="alert">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Your email must be between 3 and 254 characters long and look like an e-mail address.
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container >
                            <label>Password</label>
                            <input  type="password" required name="password" ng-model="$ctrl.user.password" ng-pattern="/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/" >
                            <div ng-messages="signupForm.password.$error">
                                <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
                                    Password must be at least 8 characters long and include letters, numbers and at least one special character.
                                </div>
                            </div>
                        </md-input-container>

                        <md-input-container >
                            <label>Confirm Password</label>
                            <input ng-disabled="!$ctrl.user.password" autocomplete="nope" type="password" required name="confirmPassword" ng-model="$ctrl.user.confirmPassword"
                            ed-validate-equals="$ctrl.user.password">
                            <div ng-messages="signupForm.confirmPassword.$error">
                                <div ng-message="required">Password is required.</div>
                                <div ng-message="confirmPassword">Passwords should match.</div>
                            </div>
                        </md-input-container>

                        <md-button type="submit" ng-click="$ctrl.signup()" ng-disabled="signupForm.$invalid">Create Account</md-button>

                        <md-divider></md-divider>
                        <div layout="column" layout-align="center center">
                            <div class="md-padding">or sign up with</div>
                            <section layout="row" layout-align="center center">
                                <!--md-button flex="50" href="/facebook">Facebook</md-button-->
                                <md-button class="google-button" ng-click="$ctrl.authenticate('google')" flex>
                                    <div layout="row" layout-align="center center">
                                        <div><img src="front/assets/svg/google-logo.svg"></div>
                                        <div>Google</div>
                                    </div>
                                </md-button>
                            </section>
                        </div>

                    </div>
                </form>
        </md-content>
    </div>
</md-content>